:root {
  --background: #121212;
  --surface: #1E1E1E;

  --primary: #8C58FF;
  --primary-hover: #A37BFF;

  --text: #F5F5F5;
  --text-secondary: #B3B3B3;

  --border: #2B2B2B;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--background);
  color: var(--text);

  font-family: Arial, Helvetica, sans-serif;

  min-height: 100vh;
}